@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --btn-color: rgba(245, 56, 56, 1);
    --border-color: rgba(245, 56, 85, 1);
    --text-title_color: rgba(11, 19, 42, 1);
    --text-child_color: rgba(79, 86, 101, 1);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 0.5px solid black; */
}

body {
    font-family: 'Rubik';
}

.wide {
    width: 1200px;
    height: auto;
    margin: 45px auto;
    background-color: rgba(255, 255, 255, 1);
}

/* Hearder */

.header__nav {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 72px;
    line-height: 45px;
}

.header--logo img {
    width: 100%;
    height: auto;
    object-position: center;
}

.header--logo {
    width: 149px;
    height: 36.23px;
}

.list__nav--menu {
    display: inline;
    font-weight: 400px;
}

.list__nav--btn {
    display: inline;
    font-weight: 500;

}

.list__nav--menu li,
.list__nav--btn li {
    display: inline;
    list-style: none;
}

.list__nav--menu li {
    margin-right: 40px;
}

.list__nav--menu li:last-child {
    margin-right: 0px;
}

.list__nav--menu li a,
.list__nav--btn li a {
    text-decoration: none;
    color: var(--text-child_color);
}

.list__nav--btn li {
    margin-right: 30px;
}

.list__nav--btn li:last-child {
    margin-right: 0px;
}

.list__nav--btn li:last-child a {
    border: 1px solid var(--border-color);
    padding: 12px 45px;
    border-radius: 50px;
    transition: 0.25s;
}

.list__nav--btn li:last-child:hover a {
    cursor: pointer;
    background-color: var(--btn-color);
    color: #fff;

}

/* header__salesVNP */
.header__salesVNP {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
}

.salesVNP--left {
    margin-right: 46px;
}

.salesVNP--name {
    font-size: 50px;
    font-weight: 500;
    color: var(--text-title_color);
    line-height: 70px;
    margin-bottom: 20px;
    margin-top: 31px;
}

.salesVNP--name span {
    font-weight: 700;
}

.salesVNP--descript {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-child_color);
    line-height: 30px;
    margin-bottom: 70px;
}

.salesVNP--descript span {
    font-weight: 500;

}

.btn--salesVNP {
    padding: 17px 77px;
    background-color: var(--btn-color);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    line-height: 25px;
    box-shadow: 0 19px 19px -4px rgba(245, 56, 56, 0.35);
}

/* header__banner--top */
.header__banner {
    margin-top: 101px;
    margin-bottom: 102px;
    margin-left: 65px;
}

.general {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid rgba(238, 239, 242, 1);
    padding: 36px 107px;
}

.users {


    padding: 0px 107px;
}

.users {
    padding-left: 0px;
    border-left: none;
}

.general li {
    list-style: none;
}

.general ul:first-child {
    margin-right: 36px;
}


.item-icon {
    color: var(--btn-color);
    background-color: rgba(255, 236, 236, 1);
    border-radius: 100%;
    padding: 17px 20px 17px 20px;

}

.item-number {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: var(--text-title_color);
}

.item-name {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.banner--content {
    display: flex;
    justify-content: center;
    /* border: 2px solid rgba(238, 239, 242, 1); */
    padding: 43px 26px 26px 37px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -18px 10px 20px 8px #eeeff2;

}

/* header__feature */
.header__feature {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 35px;
    margin-right: 70px;
    margin-bottom: 131px;
}


.feature--img {
    margin-right: 169px;
}

.provide--title {
    font-size: 35px;
    line-height: 50px;
    font-weight: 500;
    color: var(--text-title_color);
    margin-bottom: 20px;

}

.provide--content {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: var(--text-child_color);
    margin-bottom: 20px;
}

.feature__list--item li {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
    color: var(--text-child_color);
}

.feature__list--item li:last-child {
    margin-bottom: 0px;

}

.feature__list--item li i {
    padding: 5px;
    border-radius: 100%;
    background-color: rgba(47, 171, 115, 1);
    color: #fff;
    margin-right: 12px;
}

/* container */

/* container__plan */

.container {

    background: #F6F6F6;
    padding-top: 80px;

}


.plan__title {
    text-align: center;
    width: 555px;
    margin: 0px auto;



}

.plan__title p:first-child {
    font-size: 35px;
    line-height: 50px;
    font-weight: 500;
    color: var(--text-title_color);
    margin-bottom: 20px;
}

.plan__title p:last-child {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: var(--text-child_color);
}

.plan__box {

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(rgb(31, 20, 20));

}

.plan__box--free {
    border: 2px solid rgba(221, 221, 221, 1);
    padding: 79px 70px 50px 70px;
    width: 335px;
    height: 760px;
    position: relative;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;

}

.plan__box--free_img {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.plan__box--free_title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: var(--text-title_color);
    text-align: center;
    margin-bottom: 30px;
}

.plan__box--list_plan li {
    list-style: none;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: var(--text-child_color);
    margin-bottom: 10px;
}

.plan__box--list_plan li i {
    color: rgba(47, 171, 115, 1);
    margin-right: 25px;
}

.plan__box--free_price {
    position: absolute;
    bottom: 50px;
    left: 23%;
    right: 23%;
}

.plan__box--free_price p:first-child {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    color: var(--text-title_color);
    text-align: center;
    margin-bottom: 20px;
}

.plan__box--free_price p:last-child {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: var(--text-title_color);
    text-align: center;
    border: 2px solid var(--btn-color);
    padding: 6px 52px;
    border-radius: 50px;
}

.plan__box--free_price p:last-child a {
    text-decoration: none;
    color: var(--btn-color);
}

.plan__box--free_price p:last-child:hover a {

    color: #fff;
}

.plan__box--free_price p:last-child:hover {
    background-color: var(--btn-color);
}

.plan__box--free_price p:first-child span {
    font-weight: 400;
    color: rgba(79, 86, 101, 1);
}

/* Network__title */
.container__network {
    margin-top: 155px;

}

.network__title {
    text-align: center;
    width: 555px;
    margin: 0px auto;

}

.network__title p:first-child {
    width: 383px;
    font-size: 35px;
    line-height: 50px;
    font-weight: 500;
    color: var(--text-title_color);
    margin: 0px auto;
    margin-bottom: 20px;
}

.network__title p:last-child {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: var(--text-child_color);
    margin-bottom: 155px;
}

.network--img {
    margin-bottom: 35px;
    margin-left: 67px;
    margin-right: 67px;
}

.network--img_logo {
    margin-left: 28px;
    margin-right: 28px;
}

/* Trusted__title */
.container__trusted {

    margin-top: 50px;

}

.trusted__title {
    text-align: center;
    width: 555px;
    margin: 0px auto;

}

.trusted__title p:first-child {
    width: 447px;
    font-size: 35px;
    line-height: 50px;
    font-weight: 500;
    color: var(--text-title_color);
    margin: 0px auto;
    margin-bottom: 20px;
}

.trusted__title p:last-child {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: var(--text-child_color);
    margin-bottom: 52px;
}

.trusted__box {
    position: absolute;
    display: flex;
    margin-left: 50px;
    z-index: 1;

}

.trusted__box--avatar {
    display: flex;
}

.trusted__box--avatar img {
    margin-right: 20px;
}

.trusted__box--one {

    margin-right: 54px;
    border: 2px solid var(--btn-color);
    max-width: 400px;
    max-height: 230px;
    padding: 25px 20px 20px 30px;
    /* padding: 30px; */
    border-radius: 10px;
    /* box-sizing: border-box; */

}

.trusted__box--three {
    margin-right: 0px;
}

.trusted__box--one_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
}

.trusted__box--evaluate {
    margin-left: 0px;
}



.trusted__box--name p:first-child {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: var(--text-title_color);
}

.trusted__box--name p:last-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-child_color);
}

.trusted__box--evaluate p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-title_color);
}

.trusted__box--evaluate p i {
    margin-left: 11px;
    color: rgba(254, 162, 80, 1);
}

.des-trusted-people {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-title_color);
}

.slide-knot {

    padding-top: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.general-slide {
    display: flex;
    /* justify-content: space-between; */
    align-content: center;

}

.general-slide p:first-child {
    width: 40px;
    height: 15px;
    background-color: var(--btn-color);
    border-radius: 10px;
    margin-right: 15px;
}

.general-slide p {
    display: flex;
    width: 15px;
    height: 15px;
    background-color: #DDE0E4;
    border-radius: 15px;
    margin-right: 15px;

}

.icon-slide i {
    padding: 21.5px;
    border: 2px solid #F53838;
    border-radius: 60px;
    align-items: center;
}

.fa-arrow-left-long {
    margin-right: 20px;
}


.icon-slide i:hover {
    background-color: var(--btn-color);

}

.banner--bottom__content {
    margin-top: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 58px 51px 90px;
    box-shadow: 2px 2px 50px #e7dede;
    border-radius: 10px;
}


.banner--bottom_sub p:first-child {
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    color: var(--text-title_color);
    margin-bottom: 20px;
    width: 370px;
}

.banner--bottom_btn {
    padding: 17px 65px;
    border-radius: 10px;
    background-color: var(--btn-color);
    box-shadow: 0px 20px 50px 0px #f53838;
}

.banner--bottom_btn a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700px;
    line-height: 25px;
}

/* footer */

.footer {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.footer__left {
    max-width: 340px;
}

.footer__left p span {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: var(--text-title_color);
}

.footer__left p {
    margin-bottom: 30px;
}

.footer__left img {
    margin-bottom: 20px;
}

.footer__left ul {
    display: flex;
    margin-bottom: 30px;
}

.footer__left ul li {
    list-style: none;
    margin-right: 20px;
    padding: 7px 10px;
    background-color: #fff;
    box-shadow: 1px 7px 30px 0px #948f8f;
    border-radius: 100%;
}

.footer__left ul li i {
    color: var(--btn-color);
}

.footer__center p:first-child {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: var(--text-title_color);
}

.footer__center p {
    margin-bottom: 10px;
}